body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

#todos h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: crimson;
}

#todos .add-todo {
    margin: 5px auto;
    width : 495px;
    height : 40px;
    font-size: 32px;
}

.todo-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

.todo-list li {
    position: relative;
    margin: 0 0 5px;
    padding: 5px 0;
    font-size: 28px;
    border-bottom: 1px solid #aaaaaa;
}

.todo-list .view {
    position: relative;
}
.view.hidden {
    visibility: hidden;
}

.todo-list .edit-todo {
    position: absolute;
    top: 5px;
    width: 470px;
    margin-left: 25px;
    font-size: 22px;
}

.todo-list input.hidden {
    display: none;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}

.todo-list input[type="checkbox"]:checked + .todo-text {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-trash {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 16px;
    color: darkred;
    vertical-align: center;
}

.todo-list li:hover .todo-trash {
    display: inline-block;
}

.todo-trash:hover {
    cursor: pointer;
}

.pagination.hidden {
    display: none;
}

.toolbar {
    position: relative;
    padding-top: 10px;
    padding-left: 125px;
}

.counters {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}